$light-background: #e7e7e7;
$light-foreground: #f9f9f9;
$light-text: #292d36;
$light-text-bg: #444a57;
$light-grey-light: #524d4d;
$light-grey-dark: #1b0703;
$light-shadow: rgba(149 157 165 / 20%);

$dark-background: #1a1c22;
$dark-foreground: #22252d;
$dark-text: #f9f9f9;
$dark-text-light: #ffffff;
$dark-text-dark: #e3e4e8;
$dark-shadow: rgba(32 37 41 / 20%);

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
