$light-background: #e7e7e7;
$light-foreground: #f9f9f9;
$light-text: #292d36;
$light-text-bg: #444a57;
$light-text-light: #524d4d;
$light-text-dark: #1b0703;
$light-blue: #144272;
$light-blue-light: #205295;
$light-blue-dark: #0a2647;
$light-wrong: #b53e3e;
$light-wrong-dark: #9c2f2f;
$light-success: #3eb55a;
$light-success-dark: #32a44d;
$light-shadow: rgba(149 157 165 / 20%);

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
